* {
    font-family: "Roboto";
}

.parent {
    height:100vw;
    display: flex;
    justify-content: center;
}

main {
    padding-left: 25px;
    padding-right: 25px;
    width: 35%;
    margin-top: 5em;
    padding-bottom: 15px;
}

.task {
    list-style: circle;
    border-top: 1px solid #b1dbec;
    font-size: 1rem;
    padding-bottom: 25px;
    padding-left: 0;
    list-style-position: inside;
}
.task:hover {
    cursor: pointer;
}

.task::marker {
    font-size: 3rem;
}
.main-text {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.num-tasks {
    color: #9f9f9f;
    font-size: 1.1rem;
    margin-left: 1.2rem;
}
.task-container {
    position: relative;
}

.task-due-date {
    color:#b32424;
    position: absolute;
    bottom: 0;
    top: 70%;
    left: 10%;
    font-size: 0.8rem;
}

.task-list:hover {
    background-color: #f4ecec;
}