* {
    font-family: "Roboto";
}

.parent {
    height:100vw;
    display: flex;
    justify-content: center;
}

main {
    padding-left: 25px;
    padding-right: 25px;
    width: 35%;
    margin-top: 5em;
    padding-bottom: 15px;
}

.task {
    list-style: none;
    width: 100%;
    margin-left: 1.5rem;
    font-size: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 25px;
    padding-left: 0;
    list-style-position: inside;

}
.task:hover {
    cursor: pointer;
}
.main-text {
    font-size: 2rem;
    font-weight: 600;
}

.num-tasks {
    color: #9f9f9f;
    font-size: 1.1rem;
    margin-left: 1.2rem;
}
.task-container {
    position: relative;
}

.task-due-date {
    color:#b32424;
    position: absolute;
    bottom: 0;
    top: 70%;
    left: 10%;
    font-size: 0.8rem;
}
.inner-container {
    border-top: 1px solid #b1dbec;
    width: 80%;
}
.inner-container:hover {
    background-color: #f4ecec;
    cursor: pointer;
}
.task-container {
    display: flex;
}
.hide {
    display: none;
}

.check-off {
    margin-top: 10px;
    border: 1.5px solid black;
    width: 15px;
    height:15px;
    border-radius: 50%;
    transition: all 0.2s;
}
.check-off:hover {
    cursor: pointer;
    background-color: green;
}